__pycache__
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.cache
.config
.ipython
.jupyter
.local
deploy/secrets.yaml
urls.txt
forcing-files.txt
land-files.txt
